<nz-layout class="layout">
  <nz-sider>
    <div class="logo">
      <img
      src="assets/logo.png"
      alt="Avatar" class="'avatar"/>
      <div class="user-info">
        <strong>John</strong>
      </div>
    </div>

    <ul nz-menu nzMode="inline" [nzTheme]="'dark'">
      <li nz-menu-item routerLink = "/dashboard">
        <span nz-icon nzType="dashboard"></span>
        <span>Dashboard</span>
      </li>

      <li nz-menu-item routerLink = "/workout">
        <span nz-icon nzType="split-cells"></span>
        <span>Workout</span>
      </li>

      <li nz-menu-item routerLink = "/activity">
        <span nz-icon nzType="control"></span>
        <span>Activity</span>
      </li>

      <li nz-menu-item routerLink = "/goal">
        <span nz-icon nzType="fund"></span>
        <span>Goal</span>
      </li>
    </ul>
  </nz-sider>

  <nz-layout class ="right-layout">
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>

</nz-layout>